@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body 
{
	display: flex;
	justify-content: center;
	border-left: 100px;
	align-items: center;
	min-height: 100vh;
	flex-direction: column;
	background: #23242a;
}
h1{
	width:540px;
	padding: 5px 10px;
	height: 50px;
	position: absolute;
	border:none;
	outline: none;
	color: #45f3ff;
	margin-top: -600px;
	background:#1c1c1c ;
	border-radius:8px ;
	content: '';
	z-index: 1;
}
h1::before{
	content: '';
	background: linear-gradient(
	  45deg,
	  #FF0000, #FF7300, #FFFB00, #48FF00,
	  #00FFD5, #002BFF, #FF00C8, #FF0000
	);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 600%;
	z-index: -1;
	width: calc(100% + 5px);
	height:  calc(100% + 5px);
	filter: blur(8px);
	animation: glowing 20s linear infinite;
	transition: opacity .3s ease-in-out;
	border-radius: 10px;
	opacity: 0;
}
h1::after{
	content: '';
	z-index: -1;
	position: absolute;
	width: 100%;	
	height: 100%;
	background-color: #333;
	left: 0;
	top: 0;
	border-radius: 10px;
}
h1:hover::before {
	opacity: 10;
  }
  
h1:active:after {
	background: transparent;
  }
  
h1:active {
	color: #000;
	font-weight: bold;
  }
.jsbox{
	position: relative;
	width: 300px;
	left: 35%;
	margin-top: -450px;
	height: 450px;
	background: #1c1c1c;
	border-radius: 8px;
	overflow: hidden;
}
.jsbox::before{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(
	  45deg,
	  #FF0000, #FF7300, #FFFB00, #48FF00,
	  #00FFD5, #002BFF, #FF00C8, #FF0000
	);
	animation: animate 6s linear infinite;
}
.jsbox::after{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(
	  45deg,
	  #FF0000, #FF7300, #FFFB00, #48FF00,
	  #00FFD5, #002BFF, #FF00C8, #FF0000
	);
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}
.jsbox #form{
	position: absolute;
	inset: 2px;
	background: #28292d;
	padding: 50px 40px;
	border-radius: 8px;
	z-index: 2;
	display: flex;
	flex-direction: column;
}
.jsbox #h2{
	color: #45f3ff;
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.1em;
	border-radius: 8px;
}
.cssbox{
	position: relative;
	width: 300px;
	left: -1%;
	margin-top: -450px;
	height: 450px;
	background: #1c1c1c;
	border-radius: 8px;
	overflow: hidden;
}
.cssbox::before{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(
	  45deg,
	  #FF0000, #FF7300, #FFFB00, #48FF00,
	  #00FFD5, #002BFF, #FF00C8, #FF0000
	);
	animation: animate 6s linear infinite;
}
.cssbox::after{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(
	  45deg,
	  #FF0000, #FF7300, #FFFB00, #48FF00,
	  #00FFD5, #002BFF, #FF00C8, #FF0000
	);
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}
.cssbox #form{
	position: absolute;
	inset: 2px;
	background: #28292d;
	padding: 50px 40px;
	border-radius: 8px;
	z-index: 2;
	display: flex;
	flex-direction: column;
}
.cssbox #h2{
	color: #9ce711;
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.1em;
	border-radius: 8px;
}
.box 
{
	position: relative;
	width: 300px;
	left: -35%;
	margin-top: 100px;
	height: 450px;
	background: #1c1c1c;
	border-radius: 8px;
	overflow: hidden;
}
.box::before 
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(
	  45deg,
	  #FF0000, #FF7300, #FFFB00, #48FF00,
	  #00FFD5, #002BFF, #FF00C8, #FF0000
	);
	animation: animate 6s linear infinite;
	
}
.box::after 
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(
	  45deg,
	  #FF0000, #FF7300, #FFFB00, #48FF00,
	  #00FFD5, #002BFF, #FF00C8, #FF0000
	);
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}
@keyframes animate 
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}
form 
{
	position: absolute;
	inset: 2px;
	background: #28292d;
	padding: 50px 40px;
	border-radius: 8px;
	z-index: 2;
	display: flex;
	flex-direction: column;
}
h2 
{
	color: #45f3ff;
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.1em;
	border-radius: 8px;
	
}
.btn1
{
	padding: 10px 68px;
	border: none;
	outline: none;
	color: #FFF;
	cursor: pointer;
	position: relative;
	z-index: 0;
	height: -10px;
	width: -280px;
	border-radius: 15px;;
	margin-top: 280px;
	
}
.btn2{
	padding: 10px 68px;
	border: none;
	outline: none;
	color: #FFF;
	cursor: pointer;
	position: relative;
	z-index: 0;
	height: -10px;
	width: -280px;
	border-radius: 15px;;
	margin-top: 280px;
}
.btn3{
	
	padding: 10px 68px;
	border: none;
	outline: none;
	color: #FFF;
	cursor: pointer;
	position: relative;
	z-index: 0;
	height: -10px;
	width: -280px;
	border-radius: 15px;;
	margin-top: 280px;
}
.btn3::after {
	content: "";
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #333;
	left: 0;
	top: 0;
	border-radius: 10px;
  }
  /* glow */
.btn3::before {
	content: "";
	background: linear-gradient(
	  45deg,
	  #FF0000, #FF7300, #FFFB00, #48FF00,
	  #00FFD5, #002BFF, #FF00C8, #FF0000
	);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 600%;
	z-index: -1;
	width: calc(100% + 4px);
	height:  calc(100% + 4px);
	filter: blur(8px);
	animation: glowing 20s linear infinite;
	transition: opacity .3s ease-in-out;
	border-radius: 10px;
	opacity: 0;
  }
  @keyframes glowing {
	0% {background-position: 0 0;}
	50% {background-position: 400% 0;}
	100% {background-position: 0 0;}
  }
  /* hover */
  .btn3:hover::before {
	opacity: 1;
  }
  
.btn3:active:after {
	background: transparent;
  }
  
.btn3:active {
	color: #000;
	font-weight: bold;
  }
.btn2::after{
    content: "";
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #333;
	left: 0;
	top: 0;
	border-radius: 10px;
}
.btn2::before{
	content: "";
	background: linear-gradient(
	  45deg,
	  #FF0000, #FF7300, #FFFB00, #48FF00,
	  #00FFD5, #002BFF, #FF00C8, #FF0000
	);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 600%;
	z-index: -1;
	width: calc(100% + 4px);
	height:  calc(100% + 4px);
	filter: blur(8px);
	animation: glowing 20s linear infinite;
	transition: opacity .3s ease-in-out;
	border-radius: 10px;
	opacity: 0;
}
  /* hover */
.btn2:hover::before {
	opacity: 1;
  }
  
.btn2:active:after {
	background: transparent;
  }
  
.btn2:active {
	color: #000;
	font-weight: bold;
  }
.btn1::after{
	content: "";
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #333;
	left: 0;
	top: 0;
	border-radius: 10px;
}
.btn1::before{
	content: "";
	background: linear-gradient(
	  45deg,
	  #FF0000, #FF7300, #FFFB00, #48FF00,
	  #00FFD5, #002BFF, #FF00C8, #FF0000
	);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 600%;
	z-index: -1;
	width: calc(100% + 4px);
	height:  calc(100% + 4px);
	filter: blur(8px);
	animation: glowing 20s linear infinite;
	transition: opacity .3s ease-in-out;
	border-radius: 10px;
	opacity: 0;
}
  /* hover */
.btn1:hover::before {
	opacity: 1;
  }
  
.btn1:active:after {
	background: transparent;
  }
  
.btn1:active {
	color: #000;
	font-weight: bold;
  }
.cssimg{
	display:flex;  
    width: -600px;
	height: -100px;
	margin-top: -300px ;   
}
.jsimg{
	display:flex;  
    width: -600px;
	height: -100px;
	margin-top: -300px ;   
}
.htmlimg{
	display:flex;  
    width: 230px;
	height: -100px;
	margin-top: -305px ;
	margin-left: -10px;
}
